ion-label {
  width: 100% !important;
}
ion-item {
  width: 100% !important;
}
ion-content {
  width: 100% !important;
}
ion-list {
  width: 100% !important;
}


.sequence {
  font-size: 20px;
  margin: 10px;
  position: relative;
}

.response {
  font-size: 20px;
  margin: 10px;
  position: relative;
}

