<ion-content [fullscreen]="true">
  <div id="container">

    <div id="calculator">

      <input type="text" name="input" size="16" id="answer">

      <input type="button" name="one" value="1" onclick="answer.value += '1'">
      <input type="button" name="two" value="2" onclick="answer.value += '2'">
      <input type="button" name="three" value="3" onclick="answer.value += '3'">
      <input type="button" class="operator" name="plus" value="+" onclick="answer.value += '+'">
      <br>
      <input type="button" name="four" value="4" onclick="answer.value += '4'">
      <input type="button" name="five" value="5" onclick="answer.value += '5'">
      <input type="button" name="six" value="6" onclick="answer.value += '6'">
      <input type="button" class="operator" name="minus" value="-" onclick="answer.value += '-'">
      <br>
      <input type="button" name="seven" value="7" onclick="answer.value += '7'">
      <input type="button" name="eight" value="8" onclick="answer.value += '8'">
      <input type="button" name="nine" value="9" onclick="answer.value += '9'">
      <input type="button" class="operator" name="times" value="*" onclick="answer.value += '*'">
      <br>
      <input type="button" id="clear" name="clear" value=" C " onclick="answer.value=''">
      <input type="button" name="zero" value="0" onclick="answer.value +='0'">
      <input type="button" name="doit" value=" = " (click)="equals()">
      <input type="button" class="operator" name="div" value="/" onclick="answer.value += '/'">
      <br>
    </div>


  </div>
</ion-content>
